*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-block-size: 100%;
}

body {
  min-block-size: 100%;
  margin: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  color: inherit;
}

img,
picture,
svg,
canvas {
  display: block;
  max-inline-size: 100%;
}

[hidden] {
  display: none !important;
}
